name: CI

on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.2
        with:
          environments: lint
      - run: pixi run --environment lint lint

{% if min_python_version_minor < max_python_version_minor -%}
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment:
          {%- for minor in range(min_python_version_minor, max_python_version_minor + 1) %}
          - test-py3{{ minor }}
          {%- endfor %}
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.2
        with:
{%- raw %}
          environments: ${{ matrix.environment }}
      - run: pixi run --environment ${{ matrix.environment }} test
{%- endraw %}
{% else -%}
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.2
      - run: pixi run test
{%- endif %}

  build:
    needs: [test, lint]

    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/{{ project_name }}
    permissions:
      id-token: write  # for trusted publising to PyPI

    steps:
      - uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.8.2
        with:
          environments: build
      - name: Build the package
        run: pixi run --environment build build
      - name: Publish to PyPI
        if: github.ref_type == 'tag'
        run: pixi run --environment build publish
